# See https://github.com/scottrigby/prometheus-helm-charts/issues/12
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# The repo admins team will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for review when someone opens a pull request.
* @prometheus-community/helm-charts-admins

/charts/alertmanager/ @monotek @naseemkullah
/charts/kube-prometheus-stack/ @andrewgkew @desaintmartin @gianrubio @gkarthiks @GMartinez-Sisti @scottrigby @Xtigyro
/charts/kube-state-metrics/ @dotdc @mrueg @tariq1890
/charts/prom-label-proxy/ @jkroepke
/charts/prometheus/ @gianrubio @naseemkullah @Xtigyro @zanhsieh
/charts/prometheus-adapter/ @hectorj2f @mattiasgees @steven-sheehy
/charts/prometheus-blackbox-exporter/ @desaintmartin @gianrubio @monotek @rsotnychenko
/charts/prometheus-cloudwatch-exporter/ @asherf @gianrubio @torstenwalter
/charts/prometheus-conntrack-stats-exporter/ @monotek
/charts/prometheus-consul-exporter/ @gkarthiks @timm088
/charts/prometheus-couchdb-exporter/ @gkarthiks
/charts/prometheus-druid-exporter/ @iamabhishek-dubey @sandy724
/charts/prometheus-elasticsearch-exporter/ @desaintmartin @svenmueller
/charts/prometheus-fastly-exporter/ @arslanbekov
/charts/prometheus-json-exporter/ @schmiddim @zanhsieh
/charts/prometheus-kafka-exporter/ @gkarthiks @golgoth31
/charts/prometheus-mongodb-exporter/ @steven-sheehy
/charts/prometheus-mysql-exporter/ @juanchimienti @monotek
/charts/prometheus-nats-exporter/ @caarlos0 @okgolove
/charts/prometheus-node-exporter/ @gianrubio @zanhsieh
/charts/prometheus-pingdom-exporter/ @monotek @rpahli
/charts/prometheus-postgres-exporter/ @gianrubio @zanhsieh
/charts/prometheus-pushgateway/ @cstaud @gianrubio
/charts/prometheus-rabbitmq-exporter/ @desaintmartin @iamabhishek-dubey @juanchimienti @monotek
/charts/prometheus-redis-exporter/ @acondrat @zanhsieh
/charts/prometheus-smartctl-exporter/ @kfox1111
/charts/prometheus-snmp-exporter/ @miouge1
/charts/prometheus-stackdriver-exporter/ @apenney @rpahli
/charts/prometheus-statsd-exporter/ @scDisorder
/charts/prometheus-to-sd/ @acondrat
