# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

/charts/prometheus/                       @gianrubio @zanhsieh @Xtigyro
/charts/prometheus-adapter/               @MattiasGees @steven-sheehy @hectorj2f
/charts/prometheus-blackbox-exporter/     @desaintmartin @gianrubio
/charts/prometheus-cloudwatch-exporter/   @gianrubio @torstenwalter @asherf
/charts/prometheus-consul-exporter/       @timm088
/charts/prometheus-couchdb-exporter/      @gkarthiks
/charts/prometheus-mongodb-exporter/      @steven-sheehy
/charts/prometheus-mysql-exporter/        @Juanchimienti @monotek
/charts/prometheus-nats-exporter/         @okgolove @caarlos0
/charts/prometheus-node-exporter/         @gianrubio @vsliouniaev
# prometheus-operator will be renamed. so the line below should be removed once https://github.com/prometheus-community/helm-charts/pull/1 is merged
/charts/prometheus-operator/              @vsliouniaev @bismarck @gianrubio
/charts/kube-prometheus-stack/            @vsliouniaev @bismarck @gianrubio
/charts/prometheus-postgres-exporter/     @gianrubio
/charts/prometheus-pushgateway/           @gianrubio @cstaud
/charts/prometheus-rabbitmq-exporter/     @Juanchimienti
/charts/prometheus-redis-exporter/        @acondrat
/charts/prometheus-snmp-exporter/         @Miouge1
/charts/prometheus-to-sd/                 @acondrat

## changes to CODEOWNERS should be reviewed by repository admins
/CODEOWNERS @helm-charts-admins
